body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#img {
  display: block;
  margin: auto;
  height: auto;
  width: 50vw;
  padding: 2rem;
}
